* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
}

body {
    font-size: 100%;
    background: #cdc9c9;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: #6275ca;
}

.logo {
    height: 100px;
}

.menu {
    display: flex;
    gap: 32px;
    background-color: ;
 
}

.item {
    color: rgb(0, 10, 20);
    font-weight: 400px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.item:hover {
  color: #1a329e;
  text-decoration: underline;

}

.conteudo {
    margin: 50px;
}

.primeira-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.div-primeira {
    display: flex;
    flex-direction: column;
    gap:32px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #050505;
  }
  
.subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0f0f0f;
  }
  
  .imagem-principal {
    height: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
  }

  .botao {
    height: 50px;
    width: 60%;
    background-color: #6275ca;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;;
  }

  .botao:hover {
    background-color: #0f1e61;
    cursor: pointer;
  }

  .segunda-secao {
    background-color: #6275ca;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 70px; 
    padding: 50px;
    font-weight: 500;
  }
  
  .motivos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 80%;
    margin: 30px auto;
  }
  
  .motivo {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 20%;
    color: black;
  }
  
  .imagem-motivo {
    width: 300px;
    height: 300px;
    padding: 20px;
  }

  .terceira-secao {
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
    margin-bottom: 40px;
    padding: 10px;
    font-size: 22px;
    align-items: center;
  }

  .paragrafo {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: #0c0c0c;
    text-align: center;
  }

  .rodape {
      padding: 32px;
      background: #6275ca;
  }
  
  .imagem-rodape {
    height: 48px;
    display: block;
    margin: 0 auto;
  }

  